// variables
$main-color: #19c8fa;
$section-padding: 100px;
$transparent-color: RGBA(15, 116, 143, 0.5);

// start of components
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.uni-text {
  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
    font-weight: normal;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background-color: #333;
      top: 5rem;
      width: 8rem;
    }
    &::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 14px;
      left: 50%;
      transform: translateX(-50%);
      top: 4.63rem;
      border: 2px solid #333;
      border-radius: 50px;
      background-color: #fff;
    }
  }
  p {
    color: #777;
    font-size: 1rem !important;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
// start of the navbar
.navbar-scrolled {
  background-color: rgba(58, 54, 54, 0.452) !important;

  transition: 0.6s;
}
.navbar {
  position: fixed;
  padding: 1rem 0rem;
  z-index: 5;
  width: 100%;
  background-color: transparent;

  img {
    padding: 0.2rem;
    margin-bottom: 0.2rem;
  }
  ul {
    li {
      a {
        color: #fff !important;
        text-transform: capitalize;
        font-size: 1rem;
        padding: 0rem 0.5rem 0rem 0.5rem;
        transition: 0.5s;
        &:hover {
          color: $main-color !important;
          transition: 0.5s;
        }
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgb(255, 255, 255);
    bottom: 10px;
    width: 82%;
    right: 130px;
  }
  i {
    margin-left: 2rem;
    border-left: 1px solid #fff;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    color: inherit;
    &:hover {
      color: $main-color !important;
      transition: 0.5s;
    }
  }
}
// end of navbar
// start of home
.home {
  background: url(../img/landing.jpg) RGBA(0, 0, 0, 60%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
// start of slider
.carousel-item {
  height: 100vh;
  background-color: transparent;
  color: #fff;
  position: relative;
  .container {
    position: absolute;
    top: 11rem;
    left: 9rem;
    padding-bottom: 50px;
    .my-text {
      h1 {
        color: #fff;
        max-width: 20rem;
        font-size: 32px;
        font-weight: normal;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        max-width: 30rem;
      }
      span {
        color: blueviolet;
        font-size: 2rem;
        font-weight: 500;
      }
    }
  }
}
// end of slider
// end of home
// start of services
.services {
  overflow: visible;
  .container {
    height: 110vh;
    padding-top: $section-padding !important;
    padding-bottom: $section-padding !important;
  }
  h3 {
    color: $main-color;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 900;
  }
  p {
    color: #777;
    line-height: 2;
    font-size: 0.7rem;
  }
}
// end of services
// start of add-1
.add1 {
  padding-top: $section-padding;
  height: 20%;
  background: url(../img/design-features.jpg) RGBA(0, 0, 0, 60%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  img {
    position: relative;
    top: 8rem;
  }
  .add1-t {
    margin-left: 18rem;
    width: 100%;
    width: 30rem;
    background-color: $transparent-color;
    padding: 30px;
    h2 {
      width: 100vh;
      font-size: 1.9rem;
      margin-bottom: 4rem;
    }
    li {
      list-style: none;
    }
  }
}

// start portfolio
.portfolio {
  padding: $section-padding 0px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 50px;
    li {
      list-style: none;
      a {
        padding: 10px 20px;
        text-decoration: none;
        color: rgb(196, 157, 157);
        transition: 0.5s;
        :hover {
          background-color: $main-color;
        }
      }
      .active {
        background-color: $main-color !important;
        color: white;
      }
    }
  }
  .col-lg-3 {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      position: relative;
      transition: 0.5s;
    }
    .text {
      position: absolute;
      background-color: white;
      left: 0px;
      bottom: -100%;
      width: 100%;
      transition: 0.5s;
      padding-left: 20px;

      p {
        font-size: 1.2rem;
        color: black;
        font-weight: normal;
      }
      span {
        font-size: 1.2rem;
        color: $main-color;
        margin-bottom: 20px;
      }
    }
  }
  .row {
    --bs-gutter-x: 0 !important;
  }
  .btn {
    display: block;
    margin: 1rem auto;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
.portfolio .col-lg-3:hover .text {
  bottom: 0%;
}
.portfolio .col-lg-3:hover img {
  transform: rotate(12deg) scale(1.2);
  -webkit-transform: rotate(12deg) scale(1.2);
  -moz-transform: rotate(12deg) scale(1.2);
}

// start video
.video {
  position: relative;
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: RGBA(0, 0, 0, 0.4);
  }
  video {
    width: 100%;
  }
  .text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    background-color: $transparent-color;
    padding: 2.5rem 0;
    color: white;
    h3 {
      font-size: 1.5rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }
    p {
      margin: 1rem 0;
    }
    btn {
      border-radius: 0px !important;
    }
  }
}

// start about us
.about-us {
  height: 100vh;
  overflow: hidden;
  padding: $section-padding 0px;
  img {
    display: block;
    margin: auto;
    margin-top: 4rem;
  }
}

// start of add2
.add2 {
  background: url(../img/stats.png) RGBA(0, 0, 0, 60%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
  .row {
    background-color: $transparent-color;
    color: white;
    top: 50%;
    left: 16%;
    width: 70%;
    transform: translateX(-16%);
    transform: translateY(-50%);
    position: absolute;
    .box {
      padding: 2rem;
      text-align: center;
      i {
        width: 40px;
        height: 40px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto 30px;
      }
      h3 {
        font-size: 2.5rem;
        font-weight: 900;
      }
      p {
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: normal;
      }
    }
  }
}
// start of pricing
.pricing {
  height: 100vh;
  text-align: center;
  .col-lg-3 {
    background-color: #fcfcfc;
    .btn {
      color: red !important;
      margin-left: 2rem;
    }
  }
  .f-price {
    padding: 4rem 2rem;
    position: relative;
    border-top: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    h4 {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
    span {
      font-size: 3.5rem;
      font-weight: bold;
      position: relative;
    }
  }
  ul {
    li {
      position: relative;
      list-style: none;
      padding: 1rem 0rem;
    }
  }
  .col-lg-12 {
    .pricing-footer {
      margin-top: 3rem;
      .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }
  }
}
// the price $ and Mo
.bf::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.bf::after {
  content: "/Mo";
  position: absolute;
  font-size: 25px;
  top: 40px;
  left: 95px;
}
.pricing li::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: $main-color;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
// start of contact us
.contact-us {
  height: 100vh;
  margin-top: 24rem;
  p {
    color: #777;
  }
}
// start of footer
.footer {
  color: white;
  background: url(../img/./subscribe.jpg) RGBA(0, 0, 0, 60%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    padding: 2rem;
  }
  span {
    color: $main-color;
    font-weight: bold;
    margin-top: 2rem !important;
    font-size: 1.5rem;
  }
  i {
    font-size: 2rem !important;
    padding: 1rem;
    margin: 1rem 0rem;
  }
  p {
    margin-top: 0;
    padding: 1rem;
    font-size: 1rem;
  }
  .scrolltop {
    display: block;
    color: white;
    height: 50px;
    z-index: 5;
    position: fixed;
    bottom: 50px;
    right: 30px;
    transition: 0.7s;
    display: none;
    :hover {
      color: $main-color;
    }
    i {
      padding: 10px;
      background-color: $transparent-color;
    }
  }
}
// media screens
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .navbar {
    background-color: rgb(30, 46, 80);
    padding-top: 0;
    ::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: rgb(255, 255, 255);
      bottom: 10px;
      width: 100%;
      right: 0px;
      z-index: 5;
    }
    .navbar-nav {
      text-align: center;
    }
    a {
      padding: 1rem 0.5rem 0rem 0.5rem !important;
    }
    i {
      margin-top: 1rem;
      padding-left: 0.5rem !important ;
      font-size: 1rem !important;
      border-left: 0.5px solid white;
      margin-left: 45%;
      margin-bottom: 1rem;
    }
  }
  .home {
    .my-text {
      margin: auto 0rem !important;
      text-align: center;
      h1 {
        font-size: 2rem !important;
        margin-bottom: 5rem !important;
      }
      p {
        text-align: center;
        max-width: 19rem !important;
        font-size: 1rem !important;
      }
    }
  }
  .carousel-item .container {
    left: 5rem;
  }
  .uni-text {
    h2 {
      font-size: 2rem !important;
    }
  }
  .services {
    .row {
      .col-lg-2 {
        text-align: center;
        i {
          margin: 1rem 0rem;
        }
      }
      .col-lg-8 {
        text-align: center;
      }
    }
  }
  .add1 {
    img {
      display: none;
    }
    .add1-t {
      margin-left: auto;
    }
  }
  .about-us {
    height: 30% !important;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  .add2 {
    height: 150vh !important;
  }
  .contact-us {
    margin-top: 120rem !important;
    margin-bottom: 20rem !important;
    form {
      text-align: center;
      margin-bottom: 5rem;
    }
    .t1,
    .t2 {
      text-align: center;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .navbar {
    background-color: rgb(30, 46, 80);
    padding-top: 0;
    ::after {
      content: "";
      position: absolute;
      height: 1px;
      background-color: rgb(255, 255, 255);
      bottom: 10px;
      width: 100%;
      right: 0px;
      z-index: 5;
    }
    .navbar-nav {
      text-align: center;
    }
    a {
      padding: 1rem 0.5rem 0rem 0.5rem !important;
    }
    i {
      margin-top: 1rem;
      padding-left: 0.5rem !important ;
      font-size: 1rem !important;
      border-left: 0.5px solid white;
      margin-left: 45%;
      margin-bottom: 1rem;
    }
  }
  .home {
    .my-text {
      margin: auto 0rem !important;
      h1 {
        font-size: 2rem !important;
        margin-bottom: 5rem !important;
      }
      p {
        text-align: center;
        max-width: 19rem !important;
        font-size: 1rem !important;
      }
    }
  }
  .carousel-item .container {
    left: 9rem;
  }
  .services {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    overflow: hidden;
    height: 160vh;
    .row {
      .col-lg-2 {
        text-align: center;
        i {
          margin: 1rem 0rem;
        }
      }
      .col-lg-8 {
        text-align: center;
      }
    }
  }
  .add1 {
    img {
      display: none;
      .add1-t {
        margin-left: 0;
      }
    }
  }
  .about-us {
    height: 30% !important;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  .add2 {
    height: 120vh !important;
  }
  .contact-us {
    margin-top: 120rem;
    margin-bottom: 14rem;
    form {
      text-align: center;
      margin-bottom: 5rem;
    }
    .t1,
    .t2 {
      text-align: center;
    }
  }
}
